* {
    background:     rgba(38, 0, 0, 0.90);
    background-alt: rgba(38, 0, 0, 0.00);
    foreground:     #ff3333;
    selected:       #4d0000;
    active:         #ff3333;
    urgent:         #b30000;
}
